@model IEnumerable<Wikiped.Models.ClanciServis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
      
       
        <th>
            @Html.DisplayNameFor(model => model.naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tekst)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.popularnost)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.ocjena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slika)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
   <tr>
      
   
        <td>
            @Html.DisplayFor(modelItem => item.naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tekst)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.popularnost)
        </td>
             <td>
            @Html.DisplayFor(modelItem => item.ocjena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slika)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.guid }) |
            @Html.ActionLink("Details", "Details", new { id = item.guid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.guid })
        </td>
    </tr>
}

</table>
